[submodule "vendor/xterm.js"]
	path = vendor/xterm.js
	url = https://github.com/xtermjs/xterm.js
[submodule "vendor/tmux"]
	path = vendor/tmux
	url = https://github.com/tmux/tmux
[submodule "vendor/libevent"]
	path = vendor/libevent
	url = https://github.com/libevent/libevent
[submodule "vendor/utf8proc"]
	path = vendor/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
